
/*Google font imported from https://fonts.google.com/selection*/
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset some margins, paddings and box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    --main-light: rgb(162,167,174);
    --main-normal: rgb(48,60,74);
    --main-dark: rgb(17,21,19);
    --main-darker: rgb(5,7,8);
    --activity-light: rgb(240,235,231);
    --activity-normal: rgb(100,57,17);
    --activity-dark : rgb(75,43,13);
    --activity-darker: rgb(35,20,6);
}

body {
    background-color: var(--main-normal);
    margin: 0;
    padding: 0;
}


img {
    margin: 0;
}

li {
    list-style: none;
}

/* general styling of navbar */
nav {
    z-index: 1000;
    height: 90px;
    width: 100%;
    display: flex;
    background-color: var(--main-darker);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
}

/* This is for the burgermenu, we don't want the checkbox to be visible, and the toggle is invisible on larger devices */
nav input, .burger {
    display: none;
}


/* placing the menu toggle in correct position, removing html button styling*/
.burger {
    border: none;
    background-color: transparent;
    border-radius: 0;
    width: 20px;
    color: var(--main-light);
    padding: 0;
    margin: 0 2rem 0 auto;
}

/* styling burger menu toggle */
.burger span {
    font-size: 2rem;
    cursor: pointer;
}

/* Placing the logo in a fitting position, height set to 100% so that any image inside will fit the 80px height of the navbar */
.logo {
    height: 100%;
    margin: 0 auto 0 2rem;
    padding: 0;
}


/* Making the logo white */
.logo img {
    filter: brightness(0) invert(1);
    height: 100%;
}

/* Aligning nav links */
.nav-items {
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


/* styling the nav-links, added a small transition */
.nav-items-wrapper a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: underline rgba(255, 255, 255, 0);
    color: var(--main-light);
    transition: text-decoration-color 400ms ease-in-out;

}


/* navbar outline for current page */
.pointer {
    text-decoration: underline var(--main-light);
}

/* navbar outline when link is hovered */
.nav-items-wrapper a:hover {
    text-decoration: underline var(--main-light);
}

main {
    width: 80%;
    margin: 0 auto;
}

video {
    width: 100%;
}

#forsteaar:target, #andreaar:target, #tredjeaar:target {
    display: block;
}

#forsteaar {
    display: none;
}
#andreaar {
    display: none;
}
#tredjeaar {
    display: none;
}


/* media query for small devices like phones and smaller tablets */
@media (max-width:768px){

    /* styling dropdown navbar menu. The menu is invisible when the toggle is unclicked */
    .nav-items-wrapper {
        height: 450px;
        position: absolute;
        top: 90px;
        display: none;
        left: 0;
        width: 100vw;
        background-color: rgb(51, 50, 52);;
    }

    /* Adjusting link sizing */
    .nav-items-wrapper a {
        font-size: 2rem;
    }

    /* justifying links for the dropdown navbar */
    .nav-items {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-left: 2rem;
    }

    /* display toggle*/
    .burger {
        display: block;
    }

    /* when toggle is cliked nav links appear */
    #burger-toggle:checked ~ .nav-items-wrapper {
        display: block;
    }

}


/* media query for small devices like phones */
@media (min-width:769px) and (max-width:1024px) {

}


/* media query for desktops */
@media (min-width:1025px) {

}
