
/*Google font imported from https://fonts.google.com/selection*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset some margins, paddings and box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Agdasima", sans-serif;
    --main-light: rgb(244, 244, 244);
    --main-normal: rgb(143, 143, 143);
    --main-dark: rgb(86, 86, 86);
    --main-darker: rgb(50,50,50);
    --activity-light: rgb(240,235,231);
    --activity-normal: rgb(100,57,17);
    --activity-dark : rgb(75,43,13);
    --activity-darker: rgb(35,20,6);
    --16px : 1rem;
    --24px : 1.5rem;
    --32px : 2rem;
    --300px : 18.75rem;
}

body {
    background-color: var(--main-darker);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

button{
    background-color: var(--main-dark);
    text-decoration: none;
    font-size: 1rem;
    color: var(--main-light);
    padding: 1rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

img {
    margin: 0;
}

li {
    list-style: none;
}

/* general styling of navbar */
nav {
    /*position: fixed;*/
    z-index: 1000;
    height: 5.5rem;
    width: 100%;
    display: flex;
    background-color: var(--main-darker);
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    margin: 0;
}

/* This is for the burgermenu, we don't want the checkbox to be visible, and the toggle is invisible on larger devices */
nav input, .burger {
    display: none;
}


/* placing the menu toggle in correct position, removing html button styling*/
.burger {
    border: none;
    background-color: transparent;
    border-radius: 0;
    width: 1.25rem;
    color: var(--main-light);
    padding: 0;
    margin: 0 2rem 0 auto;
}

/* styling burger menu toggle */
.burger span {
    font-size: 2rem;
    cursor: pointer;
}

/* Placing the logo in a fitting position, height set to 100% so that any image inside will fit the 80px height of the navbar */
.logo {
    height: 100%;
    margin: 0 auto 0 2rem;
    padding: 0;
}


/* Making the logo white */
.logo img {
    filter: brightness(0) invert(1);
    height: 100%;
}

/* Aligning nav links */
.nav-items {
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


/* styling the nav-links, added a small transition */
.nav-items-wrapper a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: underline rgba(255, 255, 255, 0);
    color: var(--main-light);
    transition: text-decoration-color 400ms ease-in-out;

}


/* navbar outline for current page */
.pointer {
    text-decoration: underline var(--main-light);
}

/* navbar outline when link is hovered */
.nav-items-wrapper a:hover {
    text-decoration: underline var(--main-light);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
}

.video-container {
    margin-top: 3rem;
    border-radius: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 
    'heading heading'
    'article figure';
    /*display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    gap: 2rem;*/
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    background-color: var(--main-light);
    color: var(--main-darker);
}
.video-container h1 {
    font-size: 3rem;
    grid-area: heading;
}

.video-container p {
    font-size: 3rem;
    grid-area: article;
}

.video-container figure {
    grid-area: figure;
}

video {
    border-radius: 1.5rem;
    width: 100%;
}

.program-list {
    border-radius: 1.5rem;
    background-color: var(--main-light);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--main-dark);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.program-list .grid-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
}

.program-list .grid-container .grid-item {
    font-size: 1.5rem;
    grid-column: span 1;
    grid-row: auto ;
}

.info-container {
    margin-top: 2rem;
    color: var(--main-light);
}

.info-wrapper {
    margin-top: 2rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
}

.info-box, .info-box3 {
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--main-normal);
    font-size: 1.5rem;
}

.info-box {
    grid-column: span 1;
}

.info-box3 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;

}

.info-box p, .info-box3 p {
    font-size: 2rem;
}

.info-box3 p {
    line-height: 1.5;
}

.studie-oppbygning {
    margin-top: 2rem;
    background-color: var(--main-light);
    border-radius: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    color: var(--main-dark);
    padding: 2rem;
    align-items: center;
    justify-items: center;

}

.studieaar {
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
}

.semester {
    padding: 1rem;
}

.semester:not(:last-child) {
    border-bottom: solid;
    margin-bottom: 1rem;
}

.studieaar h3 {
    background-color: aqua;
    width: max-content;
}

.button-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 0;
}
.emnegruppe {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    justify-content: space-between;
    gap: 1rem;
}

.emne {
    border-top: solid;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: pink;*/
}

.emne a {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--main-dark);
    text-decoration:  underline var(--main-light) ;
    transition: text-decoration-color 400ms ease-in-out;
    padding: auto;
}

.emne a:hover{
    text-decoration: underline var(--main-darker);
}

#forsteaar:target, #andreaar:target, #tredjeaar:target {
    display: block;
}

#forsteaar, #andreaar, #tredjeaar  {
    display: none;
}

.semester input {
}

.semester label {
    cursor: pointer;
}

#MOF3:checked ~ .emnegruppeMOF3,
#SODM3:checked ~ .emnegruppeSODM3,
#VB3:checked ~ .emnegruppeSODM3 {
    display: block;
}
.emnegruppeMOF3,
.emnegruppeSODM3 {
    display: none;
}

#MOF3:target, #MOF4:target, #MOF5:target, #MOF6:target, 
#SODM3:target, #SODM4:target, #SODM5:target, #SODM6:target, 
#VB4:target, #VB5:target, #VB6:target {
    display: block;
}

#MOF3, #MOF4, #MOF5, #MOF6, #SODM3, #SODM4, #SODM5, #SODM6, #VB4, #VB5, #VB6 {
    display: none;
}


/* media query for small devices like phones and smaller tablets */
@media (max-width:48em){

    /* styling dropdown navbar menu. The menu is invisible when the toggle is unclicked */
    .nav-items-wrapper {
        height: 28rem;
        position: absolute;
        top: 5.5rem;
        display: none;
        left: 0;
        width: 100vw;
        background-color: rgb(51, 50, 52);;
    }

    /* Adjusting link sizing */
    .nav-items-wrapper a {
        font-size: 2rem;
    }

    /* justifying links for the dropdown navbar */
    .nav-items {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-left: 2rem;
    }

    /* display toggle*/
    .burger {
        display: block;
    }

    /* when toggle is cliked nav links appear */
    #burger-toggle:checked ~ .nav-items-wrapper {
        display: block;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    .video-container p {
        font-size: 2rem;
    }

    .program-list .grid-container {
        text-align: left;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }

    .info-wrapper {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .info-box, .info-box3 {
        grid-column: 1;
    }
    

}


/* media query for small devices like phones */
@media (min-width:48.1em) and (max-width:63em) {
    .video-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }
    .video-container p {
        font-size: 2rem;
    }

    .program-list .grid-container {
        text-align: left;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }

    .info-wrapper {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .info-box, .info-box3 {
        grid-column: 1;
    }
}


/* media query for desktops */
@media (min-width:64.1em) {

}
